canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 auto; 
	position: absolute;
	font: 16px Verdana;
	color: #d11d1d;
	height: 25px;
	width: 100%; 
	top: calc(96% - 12.5px); 
	left: 0; 
	right: 0;
	text-align: center; 
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #e46e6e;
}
span {
	font-size: 20px;
}
p > a:first-of-type {
	font-size: 300px;

}
body {

	overflow: hidden;
}

img {
	position: absolute; /* Posición absoluta para que se pueda mover libremente */
	top: 1200px; /* Posición inicial arriba de la pantalla */
	left: 50%; /* Centrar horizontalmente */
	transform: translateX(-50%) rotate(0deg); /* Centrar horizontalmente y aplicar rotación inicial */
	animation-name: moverNotificacion;
	animation-duration: 5s; /* Duración de la animación (en segundos) */
	animation-iteration-count: infinite; /* Repetir la animación infinitamente */
	animation-timing-function: ease-in-out; /* Función de temporización para suavizar la animación */
}

/* Definición de la animación */
@keyframes moverNotificacion {
	0%, 30% { top: 1200px; opacity: 0; transform: translateX(-50%) rotate(0deg); } /* Posición inicial, transparencia y rotación */
	30%, 100% { top: 1200px; opacity: 1; transform: translateX(-50%) rotate(360deg); } /* Mover hacia abajo, aparecer y dar una vuelta completa */
}